/* Accordion container */
.accordion-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }

.accordion {
    width: calc(60% - 1rem);
    /* max-width: 400px; Adjust as needed */
    margin: auto;
  }
  
  /* Accordion item */
  .accordion-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #ECEFF1; /* Use your main color */
    color: #37474F; /* Use your dark gray color for text */
    text-align: left;
    margin: 2rem auto;
    max-width: 800px; /* Set the maximum width of the section */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease-in-out;
  }
  
  .accordion-item.open {
    height: auto;
    font-weight: none;
  }

  /* Accordion header */
  .accordion-header {
    background-color: #f0f0f0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    justify-content: space-between;
    font-weight: bold;
  }
  
  /* Accordion icon */
  .accordion-icon {
    font-size: 1.5rem;
    font-weight: none;
  }
  
  
  /* Accordion content */
  .accordion-content {
    padding: 1rem;
    background-color: #f9f9f9;
    overflow: hidden;
    text-align: left;
    font-weight: none;
  }
  