.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.project-iframe {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 150%;
  height: 80%;
  border: none;
}

.project-description {
  flex: 1;
}

.project-description h3 {
  margin-top: 0;
}

.project-description p {
  margin-bottom: 1rem;
}

.project-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  margin: 0 0.5rem;
  width: 800rem;
  padding: 0.5rem 1rem;
}

.link-button, 
.github-button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color:#ECEFF1 ; /* Use your dark gray color for text */
  background-color: #37474F; /* Use your main color */
  font-weight: bold;
  
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link-button:hover, 
.github-button:hover {
  color: #37474F; /* Use your dark gray color for text */
  background-color: #ECEFF1; /* Use your main color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
